Gioco.exe
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
.vscode_oldold/c_cpp_properties.json
.vscode_oldold/launch.json
.vscode_oldold/tasks.json
.vscode/tasks.json
.vscode/tasks.json
.vscode/
